# SQL 的五十道練習

> 合併查詢結果

[數據交點](https://www.datainpoint.com/) | 郭耀仁 <yaojenkuo@datainpoint.com>

In [1]:
%LOAD ../databases/imdb.db

In [2]:
ATTACH "../databases/nba.db" AS nba;

In [3]:
ATTACH "../databases/twElection2020.db" AS twElection2020;

In [4]:
ATTACH "../databases/covid19.db" AS covid19;

## 以 `UNION` 敘述垂直合併查詢結果

## 在「函數」的章節中，我們看過函數中包含著其他函數的使用方法

前一個函數的輸出，成為下一個函數的輸入。

In [9]:
-- 函數中包含著其他函數
SELECT UPPER(SUBSTR('Januaray', 1, 3)) AS upper_abb;

+-----------+
| upper_abb |
+-----------+
| JAN       |
+-----------+

## 在一段 SQL 中包含著另外一段 SQL 的使用方法，被稱為子查詢（Subquery）。

## 常見的子查詢可以分為三類：

1. 將一段 SQL 查詢結果作為資料表。
2. 將一段 SQL 查詢結果作為條件。 
3. 將一段 SQL 查詢結果作為衍生計算欄位。

## 將一段 SQL 查詢結果作為資料表

## 在 `FROM` 敘述後接另外一段 SQL 查詢

```sql
SELECT column_name
  FROM (SELECT column_name FROM table_name) AS alias;
```

## 將一段 SQL 查詢結果作為條件

## 在 `WHERE` 或 `HAVING` 敘述後接另外一段 SQL 查詢

## 將一段 SQL 查詢結果作為衍生計算欄位

## 在 `SELECT`、`GROUP BY` 或 `ORDER BY` 敘述後接另外一段 SQL 查詢。

## 重點統整

-

## 目前我們會的 SQL

```sql
SELECT DISTINCT column_name AS alias,
       column_name (+, -, *, /, %, ||) column_name AS alias,
       FUNCTION_NAME(column_name) AS alias,
       CASE WHEN condition_1 THEN result_1
            WHEN condition_2 THEN result_2
            ...
            ELSE result_else END AS alias
  FROM table_name
 WHERE condition (AND, OR, NOT, BETWEEN, IN, IS NULL)
       condition
 GROUP BY column_name
HAVING condition
 ORDER BY column_name ASC|DESC
 LIMIT m;
```