# SQL 的五十道練習

> 篩選資料

郭耀仁 <yaojenkuo@datainpoint.com>，[數據交點](https://www.datainpoint.com)

In [1]:
import sqlite3
import unittest
import numpy as np
import pandas as pd
conn = sqlite3.connect('../databases/nba.db')
conn.execute("""ATTACH '../databases/covid19.db' AS covid19""")
conn.execute("""ATTACH '../databases/twElection2020.db' AS twElection2020""")
conn.execute("""ATTACH '../databases/imdb.db' AS imdb""")

## 從新冠肺炎的時間序列資料表 `time_series` 中將台灣的觀測值篩選出來，選擇 `Country_Region`、`Date` 與 `Confirmed` 三個欄位。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(376, 3) 的查詢結果。

```
    Country_Region        Date  Confirmed
0           Taiwan  2020-01-22          1
1           Taiwan  2020-01-23          1
2           Taiwan  2020-01-24          3
3           Taiwan  2020-01-25          3
4           Taiwan  2020-01-26          4
..             ...         ...        ...
371         Taiwan  2021-01-27        893
372         Taiwan  2021-01-28        895
373         Taiwan  2021-01-29        899
374         Taiwan  2021-01-30        909
375         Taiwan  2021-01-31        911

[376 rows x 3 columns]
```

In [2]:
filter_tw_time_series =\
"""
-- SQL 查詢語法起點
SELECT Country_Region,
       Date,
       Confirmed
  FROM time_series
 WHERE Country_Region = 'Taiwan';
-- SQL 查詢語法終點
"""

## 從 IMDb 最高評價的 250 部電影資料表 `top_rated_movies` 中將上映年份為 1994 的電影篩選出來，選擇 `title`、`rating` 與 `director` 欄位。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(6, 3) 的查詢結果。

```
                      title  rating              director
0  The Shawshank Redemption     9.3        Frank Darabont
1              Pulp Fiction     8.9     Quentin Tarantino
2              Forrest Gump     8.8       Robert Zemeckis
3    Léon: The Professional     8.5            Luc Besson
4             The Lion King     8.5          Roger Allers
5         Three Colors: Red     8.1  Krzysztof Kieslowski
```

In [3]:
filter_year_1994_good_movies =\
"""
-- SQL 查詢語法起點
SELECT title,
       rating,
       director
  FROM top_rated_movies
 WHERE release_year = 1994;
-- SQL 查詢語法終點
"""

## 從 IMDb 最高評價的 250 部電影資料表 `top_rated_movies` 中計算評分在 8.5 以上並且上映年份在 2000 年之後的電影篩選出來，選擇 `title`、`rating` 與 `director` 欄位。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(17, 3) 的查詢結果。

```
                                                title  rating  \
0                                     The Dark Knight     9.0   
1       The Lord of the Rings: The Return of the King     8.9   
2   The Lord of the Rings: The Fellowship of the Ring     8.8   
3                                           Inception     8.8   
4               The Lord of the Rings: The Two Towers     8.7   
5                                         City of God     8.6   
6                                       Spirited Away     8.6   
7                                        Interstellar     8.6   
8                                            Parasite     8.6   
9                                         The Pianist     8.5   
10                                          Gladiator     8.5   
11                                       The Departed     8.5   
12                                   The Intouchables     8.5   
13                                           Whiplash     8.5   
14                                       The Prestige     8.5   
15                                           Hamilton     8.6   
16                                              Joker     8.5   

              director  
0    Christopher Nolan  
1        Peter Jackson  
2        Peter Jackson  
3    Christopher Nolan  
4        Peter Jackson  
5   Fernando Meirelles  
6       Hayao Miyazaki  
7    Christopher Nolan  
8         Bong Joon Ho  
9       Roman Polanski  
10        Ridley Scott  
11     Martin Scorsese  
12     Olivier Nakache  
13     Damien Chazelle  
14   Christopher Nolan  
15         Thomas Kail  
16       Todd Phillips 
```

In [4]:
filter_good_movies_after_millennium =\
"""
-- SQL 查詢語法起點
SELECT title,
       rating,
       director
  FROM top_rated_movies
 WHERE release_year >= 2000 AND
       rating >= 8.5;
-- SQL 查詢語法終點
"""

## 從 IMDb 最高評價的 250 部電影資料表 `top_rated_movies` 中計算有幾部電影是由 Christopher Nolan 或 Peter Jackson 所導演的。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(1, 1) 的查詢結果。

註：Christopher Nolan 是一名英國導演、編劇及監製，他的十部電影在全球獲得超過 47 億美元的票房，執導著名電影包含「黑暗騎士三部曲」、全面啟動、星際效應及敦克爾克大行動；Peter Jackson 是一名紐西蘭導演、編劇及監製，執導最出名的作品是「魔戒電影三部曲」與「哈比人電影系列」。

```
   n_movies
0        10
```

In [5]:
count_good_movies_directed_by_2_directors =\
"""
-- SQL 查詢語法起點
SELECT COUNT(*) AS n_movies
  FROM top_rated_movies
 WHERE director IN ('Christopher Nolan', 'Peter Jackson');
-- SQL 查詢語法終點
"""

## 從 NBA 球員的基本資料表 `players` 篩選出 `firstName` 為 `L` 開頭或者 `lastName` 為 `J` 開頭的球員，選擇 `firstName` 與 `lastName`，並先以 `firstName` 遞增排序再以 `lastName` 遞增排序。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(38, 2) 的查詢結果。

```
   firstName     lastName
0    Cameron      Johnson
1       Cory       Joseph
2     DaQuan     Jeffries
3     Damian        Jones
4    DeAndre       Jordan
5    Derrick    Jones Jr.
6      Frank      Jackson
7     Isaiah          Joe
8      James      Johnson
9      Jaren  Jackson Jr.
10      Josh      Jackson
11    Justin      Jackson
12    Justin        James
13    Keldon      Johnson
14  LaMarcus     Aldridge
15    LaMelo         Ball
16     Lamar      Stevens
17    Landry       Shamet
18  Langston     Galloway
19     Larry    Nance Jr.
20     Lauri    Markkanen
21    LeBron        James
22    Lonnie    Walker IV
23     Lonzo         Ball
24       Lou     Williams
25  Luguentz         Dort
26      Luka       Doncic
27      Luka      Samanic
28      Luke      Kennard
29      Luke       Kornet
30     Mason        Jones
31    Nikola        Jokic
32    Reggie      Jackson
33   Stanley      Johnson
34       Tre        Jones
35        Ty       Jerome
36     Tyler      Johnson
37      Tyus        Jones
```

In [6]:
filter_first_name_last_name_pattern =\
"""
-- SQL 查詢語法起點
SELECT firstName,
       lastName
  FROM players
 WHERE firstName LIKE 'L%' OR
       lastName LIKE 'J%'
 ORDER BY firstName,
          lastName;
-- SQL 查詢語法終點
"""

## 執行測試！

Kernel -> Restart & Run All.

In [7]:
class TestWhere(unittest.TestCase):
    def test_filter_tw_time_series(self):
        tw_time_series = pd.read_sql(filter_tw_time_series, conn)
        self.assertEqual(tw_time_series.shape, ((376, 3)))
        np.testing.assert_equal(tw_time_series['Country_Region'].values[:5],
                               np.array(['Taiwan', 'Taiwan', 'Taiwan', 'Taiwan', 'Taiwan']))
        np.testing.assert_equal(tw_time_series['Date'].values[-5:],
                               np.array(['2021-01-27', '2021-01-28', '2021-01-29', '2021-01-30', '2021-01-31']))
        np.testing.assert_equal(tw_time_series['Confirmed'].values[-5:],
                               np.array([893, 895, 899, 909, 911]))
        
    def test_filter_year_1994_good_movies(self):
        year_1994_good_movies = pd.read_sql(filter_year_1994_good_movies, conn)
        self.assertEqual(year_1994_good_movies.shape, (6, 3))
        np.testing.assert_equal(year_1994_good_movies['title'].values,
                               np.array(['The Shawshank Redemption', 'Pulp Fiction', 'Forrest Gump', 'Léon: The Professional', 'The Lion King', 'Three Colors: Red']))
        np.testing.assert_equal(year_1994_good_movies['rating'].values,
                               np.array([9.3, 8.9, 8.8, 8.5, 8.5, 8.1]))
    def test_filter_good_movies_after_millennium(self):
        good_movies_after_millennium = pd.read_sql(filter_good_movies_after_millennium, conn)
        self.assertEqual(good_movies_after_millennium.shape, (17, 3))
        np.testing.assert_equal(good_movies_after_millennium['title'].values[:5],
                               np.array(['The Dark Knight', 'The Lord of the Rings: The Return of the King', 'The Lord of the Rings: The Fellowship of the Ring', 'Inception', 'The Lord of the Rings: The Two Towers']))
        np.testing.assert_equal(good_movies_after_millennium['rating'].values[:5],
                               np.array([9.0, 8.9, 8.8, 8.8, 8.7]))
    def test_count_good_movies_directed_by_2_directors(self):
        good_movies_directed_by_2_directors = pd.read_sql(count_good_movies_directed_by_2_directors, conn)
        self.assertEqual(good_movies_directed_by_2_directors.shape, (1, 1))
        self.assertEqual(good_movies_directed_by_2_directors['n_movies'].values[0], 10)
        
    def test_filter_first_name_last_name_pattern(self):
        first_name_last_name_pattern = pd.read_sql(filter_first_name_last_name_pattern, conn)
        self.assertEqual(first_name_last_name_pattern.shape, (38, 2))
        np.testing.assert_equal(first_name_last_name_pattern['firstName'].values[:5],
                               np.array(['Cameron', 'Cory', 'DaQuan', 'Damian', 'DeAndre']))
        np.testing.assert_equal(first_name_last_name_pattern['lastName'].values[-5:],
                               np.array(['Johnson', 'Jones', 'Jerome', 'Johnson', 'Jones']))     

suite = unittest.TestLoader().loadTestsFromTestCase(TestWhere)
runner = unittest.TextTestRunner(verbosity=2)
test_results = runner.run(suite)
number_of_failures = len(test_results.failures)
number_of_errors = len(test_results.errors)
number_of_test_runs = test_results.testsRun
number_of_successes = number_of_test_runs - (number_of_failures + number_of_errors)

test_count_good_movies_directed_by_2_directors (__main__.TestWhere) ... ok
test_filter_first_name_last_name_pattern (__main__.TestWhere) ... ok
test_filter_good_movies_after_millennium (__main__.TestWhere) ... ok
test_filter_tw_time_series (__main__.TestWhere) ... ok
test_filter_year_1994_good_movies (__main__.TestWhere) ... ok

----------------------------------------------------------------------
Ran 5 tests in 0.150s

OK

In [8]:
print("您在 {} 道 SQL 練習中答對了 {} 題。".format(number_of_test_runs, number_of_successes))

您在 5 道 SQL 練習中答對了 5 題。