# SQL 的五十道練習

> 從資料表選擇

郭耀仁 <yaojenkuo@datainpoint.com>，[數據交點](https://www.datainpoint.com)

In [1]:
import sqlite3
import unittest
import numpy as np
import pandas as pd
conn = sqlite3.connect('../databases/nba.db')
conn.execute("""ATTACH '../databases/covid19.db' AS covid19""")
conn.execute("""ATTACH '../databases/twElection2020.db' AS twElection2020""")
conn.execute("""ATTACH '../databases/imdb.db' AS imdb""")

## 從 NBA 球隊資料表 `teams` 中選擇「所有」欄位。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(30, 12) 的查詢結果。

```
    isNBAFranchise  isAllStar           city         altCityName  \
0                1          0        Atlanta             Atlanta   
1                1          0         Boston              Boston   
2                1          0       Brooklyn            Brooklyn   
3                1          0      Charlotte           Charlotte   
4                1          0        Chicago             Chicago   
5                1          0      Cleveland           Cleveland   
6                1          0         Dallas              Dallas   
7                1          0         Denver              Denver   
8                1          0        Detroit             Detroit   
9                1          0   Golden State        Golden State   
10               1          0        Houston             Houston   
11               1          0        Indiana             Indiana   
12               1          0             LA         LA Clippers   
13               1          0    Los Angeles  Los Angeles Lakers   
14               1          0        Memphis             Memphis   
15               1          0          Miami               Miami   
16               1          0      Milwaukee           Milwaukee   
17               1          0      Minnesota           Minnesota   
18               1          0    New Orleans         New Orleans   
19               1          0       New York            New York   
20               1          0  Oklahoma City       Oklahoma City   
21               1          0        Orlando             Orlando   
22               1          0   Philadelphia        Philadelphia   
23               1          0        Phoenix             Phoenix   
24               1          0       Portland            Portland   
25               1          0     Sacramento          Sacramento   
26               1          0    San Antonio         San Antonio   
27               1          0        Toronto             Toronto   
28               1          0           Utah                Utah   
29               1          0     Washington          Washington   

                  fullName tricode      teamId       nickname       urlName  \
0            Atlanta Hawks     ATL  1610612737          Hawks         hawks   
1           Boston Celtics     BOS  1610612738        Celtics       celtics   
2            Brooklyn Nets     BKN  1610612751           Nets          nets   
3        Charlotte Hornets     CHA  1610612766        Hornets       hornets   
4            Chicago Bulls     CHI  1610612741          Bulls         bulls   
5      Cleveland Cavaliers     CLE  1610612739      Cavaliers     cavaliers   
6         Dallas Mavericks     DAL  1610612742      Mavericks     mavericks   
7           Denver Nuggets     DEN  1610612743        Nuggets       nuggets   
8          Detroit Pistons     DET  1610612765        Pistons       pistons   
9    Golden State Warriors     GSW  1610612744       Warriors      warriors   
10         Houston Rockets     HOU  1610612745        Rockets       rockets   
11          Indiana Pacers     IND  1610612754         Pacers        pacers   
12             LA Clippers     LAC  1610612746       Clippers      clippers   
13      Los Angeles Lakers     LAL  1610612747         Lakers        lakers   
14       Memphis Grizzlies     MEM  1610612763      Grizzlies     grizzlies   
15              Miami Heat     MIA  1610612748           Heat          heat   
16         Milwaukee Bucks     MIL  1610612749          Bucks         bucks   
17  Minnesota Timberwolves     MIN  1610612750   Timberwolves  timberwolves   
18    New Orleans Pelicans     NOP  1610612740       Pelicans      pelicans   
19         New York Knicks     NYK  1610612752         Knicks        knicks   
20   Oklahoma City Thunder     OKC  1610612760        Thunder       thunder   
21           Orlando Magic     ORL  1610612753          Magic         magic   
22      Philadelphia 76ers     PHI  1610612755          76ers        sixers   
23            Phoenix Suns     PHX  1610612756           Suns          suns   
24  Portland Trail Blazers     POR  1610612757  Trail Blazers       blazers   
25        Sacramento Kings     SAC  1610612758          Kings         kings   
26       San Antonio Spurs     SAS  1610612759          Spurs         spurs   
27         Toronto Raptors     TOR  1610612761        Raptors       raptors   
28               Utah Jazz     UTA  1610612762           Jazz          jazz   
29      Washington Wizards     WAS  1610612764        Wizards       wizards   

    teamShortName confName    divName  
0         Atlanta     East  Southeast  
1          Boston     East   Atlantic  
2        Brooklyn     East   Atlantic  
3       Charlotte     East  Southeast  
4         Chicago     East    Central  
5       Cleveland     East    Central  
6          Dallas     West  Southwest  
7          Denver     West  Northwest  
8         Detroit     East    Central  
9    Golden State     West    Pacific  
10        Houston     West  Southwest  
11        Indiana     East    Central  
12    LA Clippers     West    Pacific  
13    L.A. Lakers     West    Pacific  
14        Memphis     West  Southwest  
15          Miami     East  Southeast  
16      Milwaukee     East    Central  
17      Minnesota     West  Northwest  
18    New Orleans     West  Southwest  
19       New York     East   Atlantic  
20  Oklahoma City     West  Northwest  
21        Orlando     East  Southeast  
22   Philadelphia     East   Atlantic  
23        Phoenix     West    Pacific  
24       Portland     West  Northwest  
25     Sacramento     West    Pacific  
26    San Antonio     West  Southwest  
27        Toronto     East   Atlantic  
28           Utah     West  Northwest  
29     Washington     East  Southeast
```

In [2]:
select_all_from_teams =\
"""
-- SQL 查詢語法起點
SELECT *
  FROM teams;
-- SQL 查詢語法終點
"""

## 從 NBA 球隊資料表 `teams` 中選擇 `confName`、`divName` 與 `fullName` 三個欄位。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(30, 3) 的查詢結果。

```
   confName    divName                fullName
0      East  Southeast           Atlanta Hawks
1      East   Atlantic          Boston Celtics
2      East   Atlantic           Brooklyn Nets
3      East  Southeast       Charlotte Hornets
4      East    Central           Chicago Bulls
5      East    Central     Cleveland Cavaliers
6      West  Southwest        Dallas Mavericks
7      West  Northwest          Denver Nuggets
8      East    Central         Detroit Pistons
9      West    Pacific   Golden State Warriors
10     West  Southwest         Houston Rockets
11     East    Central          Indiana Pacers
12     West    Pacific             LA Clippers
13     West    Pacific      Los Angeles Lakers
14     West  Southwest       Memphis Grizzlies
15     East  Southeast              Miami Heat
16     East    Central         Milwaukee Bucks
17     West  Northwest  Minnesota Timberwolves
18     West  Southwest    New Orleans Pelicans
19     East   Atlantic         New York Knicks
20     West  Northwest   Oklahoma City Thunder
21     East  Southeast           Orlando Magic
22     East   Atlantic      Philadelphia 76ers
23     West    Pacific            Phoenix Suns
24     West  Northwest  Portland Trail Blazers
25     West    Pacific        Sacramento Kings
26     West  Southwest       San Antonio Spurs
27     East   Atlantic         Toronto Raptors
28     West  Northwest               Utah Jazz
29     East  Southeast      Washington Wizards
```

In [3]:
select_variables_from_teams =\
"""
-- SQL 查詢語法起點
SELECT confName,
       divName,
       fullName
  FROM teams;
-- SQL 查詢語法終點
"""

## 從 NBA 球隊資料表 `teams` 中選擇 `confName`、`divName` 與 `fullName` 三個欄位，並依序取別名為 `conference`, `division`, `team`。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(30, 3) 的查詢結果。

```
   conference   division                    team
0        East  Southeast           Atlanta Hawks
1        East   Atlantic          Boston Celtics
2        East   Atlantic           Brooklyn Nets
3        East  Southeast       Charlotte Hornets
4        East    Central           Chicago Bulls
5        East    Central     Cleveland Cavaliers
6        West  Southwest        Dallas Mavericks
7        West  Northwest          Denver Nuggets
8        East    Central         Detroit Pistons
9        West    Pacific   Golden State Warriors
10       West  Southwest         Houston Rockets
11       East    Central          Indiana Pacers
12       West    Pacific             LA Clippers
13       West    Pacific      Los Angeles Lakers
14       West  Southwest       Memphis Grizzlies
15       East  Southeast              Miami Heat
16       East    Central         Milwaukee Bucks
17       West  Northwest  Minnesota Timberwolves
18       West  Southwest    New Orleans Pelicans
19       East   Atlantic         New York Knicks
20       West  Northwest   Oklahoma City Thunder
21       East  Southeast           Orlando Magic
22       East   Atlantic      Philadelphia 76ers
23       West    Pacific            Phoenix Suns
24       West  Northwest  Portland Trail Blazers
25       West    Pacific        Sacramento Kings
26       West  Southwest       San Antonio Spurs
27       East   Atlantic         Toronto Raptors
28       West  Northwest               Utah Jazz
29       East  Southeast      Washington Wizards
```

In [4]:
select_variables_as_from_teams =\
"""
-- SQL 查詢語法起點
SELECT confName AS conference,
       divName AS division,
       fullName AS team
  FROM teams;
-- SQL 查詢語法終點
"""

## 從 NBA 球隊資料表 `teams` 中查詢有哪些「不重複」的聯盟，並將查詢結果取別名為 `distinct_conference`。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(2, 1) 的查詢結果。

```
  distinct_conference
0                East
1                West
```

In [5]:
select_distinct_conference =\
"""
-- SQL 查詢語法起點
SELECT DISTINCT confName AS distinct_conference
  FROM teams;
-- SQL 查詢語法終點
"""

## 從 NBA 球隊資料表 `teams` 中查詢有哪些「不重複」的分組，並將查詢結果取別名為 `distinct_division`。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(6, 1) 的查詢結果。

```
  distinct_division
0         Southeast
1          Atlantic
2           Central
3         Southwest
4         Northwest
5           Pacific
```

In [6]:
select_distinct_division =\
"""
-- SQL 查詢語法起點
SELECT DISTINCT divName AS distinct_division
  FROM teams;
-- SQL 查詢語法終點
"""

## 執行測試！

Kernel -> Restart & Run All.

In [7]:
class TestSelectFrom(unittest.TestCase):
    def test_select_all_from_top_rated_movies(self):
        all_from_teams = pd.read_sql(select_all_from_teams, conn)
        self.assertEqual(all_from_teams.shape, (30, 12))
    def test_select_variables_from_teams(self):
        variables_from_teams = pd.read_sql(select_variables_from_teams, conn)
        self.assertEqual(variables_from_teams.shape, (30, 3))
        np.testing.assert_equal(variables_from_teams.columns.values,
                               np.array(['confName', 'divName', 'fullName']))
    def test_select_variables_as_from_teams(self):
        variables_as_from_teams = pd.read_sql(select_variables_as_from_teams, conn)
        self.assertEqual(variables_as_from_teams.shape, (30, 3))
        np.testing.assert_equal(variables_as_from_teams.columns.values,
                               np.array(['conference', 'division', 'team']))
    def test_select_distinct_conference(self):
        distinct_conference = pd.read_sql(select_distinct_conference, conn)
        self.assertEqual(distinct_conference.shape, (2, 1))
        np.testing.assert_equal(distinct_conference['distinct_conference'].values,
                               np.array(['East', 'West']))
    def test_select_distinct_division(self):
        distinct_division = pd.read_sql(select_distinct_division, conn)
        self.assertEqual(distinct_division.shape, (6, 1))
        np.testing.assert_equal(distinct_division['distinct_division'].values,
                               np.array(['Southeast', 'Atlantic', 'Central', 'Southwest', 'Northwest', 'Pacific']))

suite = unittest.TestLoader().loadTestsFromTestCase(TestSelectFrom)
runner = unittest.TextTestRunner(verbosity=2)
test_results = runner.run(suite)
number_of_failures = len(test_results.failures)
number_of_errors = len(test_results.errors)
number_of_test_runs = test_results.testsRun
number_of_successes = number_of_test_runs - (number_of_failures + number_of_errors)

test_select_all_from_top_rated_movies (__main__.TestSelectFrom) ... ok
test_select_distinct_conference (__main__.TestSelectFrom) ... ok
test_select_distinct_division (__main__.TestSelectFrom) ... ok
test_select_variables_as_from_teams (__main__.TestSelectFrom) ... ok
test_select_variables_from_teams (__main__.TestSelectFrom) ... ok

----------------------------------------------------------------------
Ran 5 tests in 0.149s

OK

In [8]:
print("您在 {} 道 SQL 練習中答對了 {} 題。".format(number_of_test_runs, number_of_successes))

您在 5 道 SQL 練習中答對了 5 題。