# SQL 的五十道練習

> 排序查詢結果

郭耀仁 <yaojenkuo@datainpoint.com>，[數據交點](https://www.datainpoint.com)

In [1]:
import sqlite3
import unittest
import numpy as np
import pandas as pd
conn = sqlite3.connect('../databases/nba.db')
conn.execute("""ATTACH '../databases/covid19.db' AS covid19""")
conn.execute("""ATTACH '../databases/twElection2020.db' AS twElection2020""")
conn.execute("""ATTACH '../databases/imdb.db' AS imdb""")

## 從新冠肺炎每日報告資料表 `daily_report` 中先依據 `Confirmed` 「遞增排序」，再依據 `Province_State`「遞增排序」，選擇 `Province_State`、`Country_Region` 與 `Confirmed` 三個欄位。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(3979, 3) 的查詢結果。

註：預期輸出所顯示的 `None` 等同於在 SQLiteStudio 介面的遺漏值（或稱空值）`NULL`。

```
     Province_State  Country_Region  Confirmed
0           Alabama              US          0
1           Alabama              US          0
2            Alaska              US          0
3           Arizona              US          0
4           Arizona              US          0
...             ...             ...        ...
3974           None       Argentina    1927239
3975    Maharashtra           India    2026399
3976           None          Turkey    2477463
3977           None          France    3186354
3978        England  United Kingdom    3341249

[3979 rows x 3 columns]
```

In [2]:
order_by_confirmed_province_state =\
"""
-- SQL 查詢語法起點

-- SQL 查詢語法終點
"""

## 從新冠肺炎每日報告資料表 `daily_report` 中依據 `Confirmed` 「遞減排序」，選擇 `Province_State`、`Country_Region` 與 `Confirmed` 三個欄位，並顯示前 10 筆查詢結果。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(10, 3) 的查詢結果。

註：預期輸出所顯示的 `None` 等同於在 SQLiteStudio 介面的遺漏值（或稱空值）`NULL`。

```
  Province_State  Country_Region  Confirmed
0        England  United Kingdom    3341249
1           None          France    3186354
2           None          Turkey    2477463
3    Maharashtra           India    2026399
4           None       Argentina    1927239
5      Sao Paulo          Brazil    1777368
6           None          Poland    1513385
7           None    South Africa    1453761
8           None            Iran    1417999
9     California              US    1116948
```

In [3]:
order_by_confirmed_desc_limit_ten =\
"""
-- SQL 查詢語法起點

-- SQL 查詢語法終點
"""

## 從 IMDb 最高評價的 250 部電影資料表 `top_rated_movies` 中先依據 `rating` 進行「遞減排序」、再依據 `release_year` 進行「遞增排序」，最後依據 `title` 「遞增排序」，選擇 `title`、`release_year` 與 `rating` 變數。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(250, 3) 的查詢結果。

```
                          title  release_year  rating
0      The Shawshank Redemption          1994     9.3
1                 The Godfather          1972     9.2
2                  12 Angry Men          1957     9.0
3        The Godfather: Part II          1974     9.0
4               The Dark Knight          2008     9.0
..                          ...           ...     ...
245              Ford v Ferrari          2019     8.1
246  Portrait of a Lady on Fire          2019     8.1
247                        Soul          2020     8.1
248          The Princess Bride          1987     8.0
249                    The Help          2011     8.0

[250 rows x 3 columns]
```

In [4]:
order_by_rating_desc_release_year_asc_title_asc =\
"""
-- SQL 查詢語法起點

-- SQL 查詢語法終點
"""

## 從球員的生涯攻守數據 `career_summaries` 資料表中先以 `NULLIF()` function 將 `assists` 欄位中的空字串轉為 `NULL`，命名為 `nullif_assists`，選擇 `personId` 與 `nullif_assists`，依據 `nullif_assists` 「遞減排序」顯示生涯總助攻數前 10 高的現役球員。

- 預期輸入：SQL 查詢語法。
- 預期輸出：(10, 2) 的查詢結果。

註：查看 <https://sqlite.org/lang_corefunc.html#nullif> 來暸解 `NULLIF()` function 的使用方法。

```
   personId  nullif_assists
0    101108            9809
1      2544            9503
2    201566            7402
3    200765            7254
4    200768            5774
5    201935            5432
6    202322            5346
7      2738            4916
8    201144            4840
9    201939            4742
```

In [5]:
order_by_nullif_assists_desc_limit_ten =\
"""
-- SQL 查詢語法起點

-- SQL 查詢語法終點
"""

## 執行測試！

Kernel -> Restart & Run All.

In [6]:
class TestOrderBy(unittest.TestCase):
    def test_order_by_confirmed_province_state_asc(self):
        by_confirmed_province_state = pd.read_sql(order_by_confirmed_province_state, conn)
        self.assertEqual(by_confirmed_province_state.shape, ((3979, 3)))
        np.testing.assert_equal(by_confirmed_province_state['Confirmed'].values[:5],
                               np.array([0, 0, 0, 0, 0]))
        np.testing.assert_equal(by_confirmed_province_state['Country_Region'].values[:5],
                               np.array(['US', 'US', 'US', 'US', 'US']))
        np.testing.assert_equal(by_confirmed_province_state['Confirmed'].values[-5:],
                               np.array([1927239, 2026399, 2477463, 3186354, 3341249]))
    def test_order_by_confirmed_desc_limit_ten(self):
        by_confirmed_desc_limit_ten = pd.read_sql(order_by_confirmed_desc_limit_ten, conn)
        self.assertEqual(by_confirmed_desc_limit_ten.shape, ((10, 3)))
        np.testing.assert_equal(by_confirmed_desc_limit_ten['Confirmed'].values,
                               np.array([3341249, 3186354, 2477463, 2026399, 1927239, 1777368, 1513385, 1453761, 1417999, 1116948]))
    def test_order_by_rating_desc_release_year_asc_title_asc(self):
        by_rating_desc_release_year_asc_title_asc = pd.read_sql(order_by_rating_desc_release_year_asc_title_asc, conn)
        self.assertEqual(by_rating_desc_release_year_asc_title_asc.shape, (250, 3))
        np.testing.assert_equal(by_rating_desc_release_year_asc_title_asc['rating'].values[:5],
                               np.array([9.3, 9.2, 9.0, 9.0, 9.0]))
        np.testing.assert_equal(by_rating_desc_release_year_asc_title_asc['rating'].values[-5:],
                               np.array([8.1, 8.1, 8.1, 8.0, 8.0]))
        np.testing.assert_equal(by_rating_desc_release_year_asc_title_asc['release_year'].values[:5],
                               np.array([1994, 1972, 1957, 1974, 2008]))
        np.testing.assert_equal(by_rating_desc_release_year_asc_title_asc['release_year'].values[-5:],
                               np.array([2019, 2019, 2020, 1987, 2011]))
    def test_order_by_nullif_assists_desc_limit_ten(self):
        by_nullif_assists_desc_limit_ten = pd.read_sql(order_by_nullif_assists_desc_limit_ten, conn)
        self.assertEqual(by_nullif_assists_desc_limit_ten.shape, (10, 2))
        np.testing.assert_equal(by_nullif_assists_desc_limit_ten['nullif_assists'].values,
                               np.array([9809, 9503, 7402, 7254, 5774, 5432, 5346, 4916, 4840, 4742]))

suite = unittest.TestLoader().loadTestsFromTestCase(TestOrderBy)
runner = unittest.TextTestRunner(verbosity=2)
test_results = runner.run(suite)
number_of_failures = len(test_results.failures)
number_of_errors = len(test_results.errors)
number_of_test_runs = test_results.testsRun
number_of_successes = number_of_test_runs - (number_of_failures + number_of_errors)

test_order_by_confirmed_desc_limit_ten (__main__.TestOrderBy) ... ERROR
test_order_by_confirmed_province_state_asc (__main__.TestOrderBy) ... ERROR
test_order_by_nullif_assists_desc_limit_ten (__main__.TestOrderBy) ... ERROR
test_order_by_rating_desc_release_year_asc_title_asc (__main__.TestOrderBy) ... ERROR

======================================================================
ERROR: test_order_by_confirmed_desc_limit_ten (__main__.TestOrderBy)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-6-714b4022c3b1>", line 12, in test_order_by_confirmed_desc_limit_ten
    by_confirmed_desc_limit_ten = pd.read_sql(order_by_confirmed_desc_limit_ten, conn)
  File "/Users/kuoyaojen/pyda/lib/python3.6/site-packages/pandas/io/sql.py", line 489, in read_sql
    chunksize=chunksize,
  File "/Users/kuoyaojen/pyda/lib/python3.6/site-packages/pandas/io/sql.py", line 1728, in read_query
    columns = [col_desc[0] for col_desc in cursor.description]
TypeError: 'NoneType' object is not iterable

======================================================================
ERROR: test_order_by_confirmed_province_state_asc (__main__.TestOrderBy)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-6-714b4022c3b1>", line 3, in test_order_by_confirmed_province_state_asc
    by_confirmed_province_state = pd.read_sql(order_by_confirmed_province_state, conn)
  File "/Users/kuoyaojen/pyda/lib/python3.6/site-packages/pandas/io/sql.py", line 489, in read_sql
    chunksize=chunksize,
  File "/Users/kuoyaojen/pyda/lib/python3.6/site-packages/pandas/io/sql.py", line 1728, in read_query
    columns = [col_desc[0] for col_desc in cursor.description]
TypeError: 'NoneType' object is not iterable

======================================================================
ERROR: test_order_by_nullif_assists_desc_limit_ten (__main__.TestOrderBy)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-6-714b4022c3b1>", line 28, in test_order_by_nullif_assists_desc_limit_ten
    by_nullif_assists_desc_limit_ten = pd.read_sql(order_by_nullif_assists_desc_limit_ten, conn)
  File "/Users/kuoyaojen/pyda/lib/python3.6/site-packages/pandas/io/sql.py", line 489, in read_sql
    chunksize=chunksize,
  File "/Users/kuoyaojen/pyda/lib/python3.6/site-packages/pandas/io/sql.py", line 1728, in read_query
    columns = [col_desc[0] for col_desc in cursor.description]
TypeError: 'NoneType' object is not iterable

======================================================================
ERROR: test_order_by_rating_desc_release_year_asc_title_asc (__main__.TestOrderBy)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-6-714b4022c3b1>", line 17, in test_order_by_rating_desc_release_year_asc_title_asc
    by_rating_desc_release_year_asc_title_asc = pd.read_sql(order_by_rating_desc_release_year_asc_title_asc, conn)
  File "/Users/kuoyaojen/pyda/lib/python3.6/site-packages/pandas/io/sql.py", line 489, in read_sql
    chunksize=chunksize,
  File "/Users/kuoyaojen/pyda/lib/python3.6/site-packages/pandas/io/sql.py", line 1728, in read_query
    columns = [col_desc[0] for col_desc in cursor.description]
TypeError: 'NoneType' object is not iterable

----------------------------------------------------------------------
Ran 4 tests in 0.131s

FAILED (errors=4)

In [7]:
print("您在 {} 道 SQL 練習中答對了 {} 題。".format(number_of_test_runs, number_of_successes))

您在 4 道 SQL 練習中答對了 0 題。